
Floyd.xcodeproj/xcuserdata/marcus.xcuserdatad/xcschemes/xcschememanagement.plist

Floyd.xcodeproj/xcuserdata/marcus.xcuserdatad/xcschemes/Floyd.xcscheme

Floyd.xcodeproj/xcuserdata/marcus.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Floyd.xcodeproj/project.xcworkspace/xcuserdata/marcus.xcuserdatad/UserInterfaceState.xcuserstate

Floyd.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Floyd/Floyd.1

.DS_Store

FloydSpeak/FloydSpeak.xcodeproj/xcuserdata/marcus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
