# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2

jobs:
  build-arch:
    docker:
       - image: "archlinux/base"
    steps:
      - checkout
      - run:
          name: Installing dev env
          command: 'pacman -Sy --noconfirm && pacman -S --noconfirm git gcc make cmake llvm'
      - run:
          name: ls
          command: 'pwd && ls'
      - run:
          name: Creating Build Files
          command: 'cmake /root/project/dev/floyd/'
      - run:
           name: Creating Binary Files
           command: 'make'
      - run:
           name: floyd Hardware caps
           command: './floyd hwcaps'
      #- run:
      #     name: floyd Unit Testing
      #     command: './floydut runtests'


  build-mac:
    macos:
       xcode: "10.3.0"
    workDir: /Users/distiller/project/dev/ 
    steps:
      - checkout
      - run:
          name: Brew update
          command: 'brew update'
      - run:
          name: Brew upgrade
          command: 'brew upgrade'   
      - run:
          name: Brew info llvm
          command: 'brew info llvm'
      - run:
          name: Brew install llvm
          command: 'brew install llvm@8'
      - run:
           name: List options
           command: 'cd dev && xcodebuild -list -project floyd.xcodeproj && ln -s  /usr/local/Cellar/llvm/8.0.1 /usr/local/Cellar/llvm/8.0.0_1' 
      - run:
           name: Creating Application
           command: 'cd dev && xcodebuild -scheme distributable build'
      #- run:
      #     name: floyd Unit Testing
      #     command: 'build/Release/floydut runtests'
      #- run:
      #    name: Compress app  and result for storage
      #    command: zip -r floyd.zip build/Release/floyd.app
      #- store_artifacts:
      #    path: floyd.zip
      #    destination: floyd
workflows:
  version: 2
  workflow:
    jobs:
    - build-arch
    - build-mac    
