# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2

jobs:
  build:
    docker:
       - image: "archlinux/base"
    steps:
      - checkout
      - run:
          name: Installing dev
          command: 'pacman -Sy --noconfirm && pacman -S --noconfirm git gcc make cmake llvm'
      - run:
          name: ls
          command: 'pwd && ls && ls /root/project'
      - run:
          name: Creating Build Files
          command: 'cmake /root/project/dev/floyd_speak/'
      - run:
           name: Creating Binary Files
           command: 'make'
      - run:
           name: floyd Unit Testing
           command: './floydut runtests'